@use "../../styles/theme.scss" as *;

.header {
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: center;
  padding: 0 20px;

  .container {
    width: 1200px;
    display: flex;
    gap: 20px;
    align-items: center;

    .progress_bar {
      border-radius: 10px;
      width: 100%;

      div {
        background-color: #156bb7;
      }
    }
  }
}
