@use "../../styles/theme.scss" as *;

.link {
  color: $tertiary-color;
  text-decoration: none;

  &:hover {
    color: $tertiary-color;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    .unity {
      border-radius: 100%;
      border: 5px solid $primary-color;
      cursor: pointer;
      max-width: 150px;
      padding: 10px;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.2);
      }

      .image {
        border-radius: inherit;
        width: 100%;
      }
    }

    .title {
      font-family: $primary-font, $default-font;
      font-size: 20px;
    }
  }
}

.easy {
  background-color: $green-color;
}

.medium {
  background-color: $yellow-color;
}

.hard {
  background-color: $red-color;
}
