@use "../../styles/theme.scss" as *;

.container {
  max-width: 150px;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
  }

  .image {
    border-radius: inherit;
    width: 100%;
  }
}

.easy {
  background-color: $easy-color;
}

.medium {
  background-color: $medium-color;
}

.hard {
  background-color: $hard-color;
}
