.unidades {
  text-align: center;
  width: 70%;
  max-width: 71%;
}

.unidade {
  width: 150px;
  border-radius: 50%;
  margin-right: 100px;
}

.texto-margem {
  margin-right: 100px;
}

.facil {
  background: #7bec7b;
}

.media {
  background: #ffff00;
}

.dificil {
  background: #ec7b7b;
} 