@use "../../styles/theme.scss" as *;

.container {
  display: flex;
  justify-content: center;

  .title_container {
    align-items: center;
    display: flex;
    gap: 20px;
    position: relative;
    width: 1200px;

    .line {
      border-radius: 10px;
      color: $primary-color;
      height: 2px;
      opacity: 1;
      width: 100%;
    }

    .title {
      background-color: $secondary-color;
      border-radius: 10px;
      font-family: $primary-font, $default-font;
      margin: 0;
      padding: 8px;
      white-space: nowrap;
    }
  }
}
