.button {
  background-color: #003f86;
  border-radius: 5px;
  color: white;
  font-family: "Alatsi", sans-serif;
  height: 38px;
  padding: 6px 12px;
  transition: background 0.15s;
  width: 100%;
}

.button:hover {
  background-color: #156bb7;
}
