// Estilos utilizados em múltiplos arquivos

@use "./theme.scss" as *;

// Botão padrão da aplicação
@mixin button {
  background-color: $primary-color;
  border-radius: 5px;
  color: $secondary-color;
  font-family: $primary-font, $default-font;
  height: 38px;
  transition: background 0.15s;
  width: 100%;

  &:hover {
    background-color: $primary-light-color;
  }
}

// Estilos de cards das páginas Histórias e Sinais
@mixin cards-area {
  display: flex;
  justify-content: center;

  .cards_container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    width: 1200px;
  }
}

// Card de formulário para cadastro e login
@mixin form-card {
  align-items: center;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  min-height: 100vh;

  .card {
    background-color: $secondary-color;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    padding: 48px;
    transition: padding 0.5s;
    width: 480px;

    @media screen and (max-width: 420px) {
      padding: 24px;
    }

    .title {
      font-family: $primary-font, $default-font;
      text-align: center;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .button {
        @include button;

        margin-top: 16px;
      }

      .account_question {
        display: flex;
        flex-wrap: wrap;
        font-family: $secondary-font, $default-font;
        gap: 5px;
        justify-content: center;
        text-align: center;

        .link {
          text-decoration: none;

          &:hover {
            color: $primary-light-color;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// Estilos compartilhados entre páginas
@mixin generic-page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 20px;

  .section {
    display: flex;
    flex-direction: inherit;
    gap: inherit;
  }
}

// Item de menu do cabeçalho
@mixin header-menu {
  align-items: center;
  display: flex;
  height: inherit;

  a {
    align-items: center;
    color: $secondary-color;
    display: flex;
    gap: 10px;
    height: inherit;
    text-decoration: none;
  }
}

// Lida com a responsividade do cabeçalho
@mixin mobile-header {
  @media screen and (max-width: 720px) {
    display: none;
  }
}
