.historias-conteudo {
  text-align: center;
}

.niveis-historias {
  width: 100%; 
  text-align: center; 
  border-bottom: 2px solid rgb(185, 185, 185); 
  line-height: 0.1em;
  margin: 50px 0 40px; 
} 

.niveis-historias span { 
   background:#fff; 
   padding:0 10px; 
}

.cards-historias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}