body {
  background: #6C43C8;
}

.titulo {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.formulario-login {

  /* Centralizar div */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  
  background: white;
  border-radius: 20px;
  font-family: 'Alatsi', sans-serif;
  font-size: 20px;
  padding: 50px;
  width: 500px;

}

.btn-primary {
  background-color: #6C43C8;
  border-color: #6C43C8;
  font-size: 20px;
  margin-top: 30px;
  width: 45%;
}

.btn-primary:hover {
  background-color: #b29de4;
  border-color: #b29de4;
}

.submit-form {
  margin-right: 35px;
}