.header-links {
  color: white;
  text-decoration: none;
}

.header-links:hover {
  color: #f1f1f1;
}

nav {
  margin-bottom: 30px;
}

.nav-link {
  color: white;
  font-family: "Alatsi";
  font-size: 24px;
  margin-left: 150px;
}

svg {
  margin-right: 10px;
}