@use "../../styles/theme.scss" as *;
@use "../../styles/theme.scss" as *;

.header {
  align-items: center;
  background-color: $primary-color;
  display: flex;
  height: 70px;
  font-family: $primary-font;
  justify-content: center;
  padding: 0 20px;

  .nav {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-between;
    width: 1200px;

    svg {
      height: 24px;
      width: 24px;
    }
  }
}

@media screen and (max-width: 720px) {
  .header {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}
