@use "../../styles/theme.scss" as *;

.header {
  align-items: center;
  background-color: $primary-color;
  display: flex;
  font-family: $primary-font, $default-font;
  height: 70px;
  justify-content: center;
  padding: 0 20px;

  .nav {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-between;
    width: 1200px;

    svg {
      height: 24px;
      width: 24px;
    }
  }
}
