.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  .medium_hard_container {
    display: flex;
    gap: 50px;

    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
  }
}
