@use "../../styles/mixins.scss" as *;
@use "../../styles/theme.scss" as *;

.menu_item {
  @include header-menu;

  .item_container {
    & > a {
      transition: color 0.1s;

      &:hover {
        color: $secondary-darker-color;
      }

      &:focus {
        color: $secondary-darker-color;
      }

      @media screen and (max-width: 720px) {
        padding: 0;
      }

      .title_container {
        display: flex;
        gap: 10px;

        .title {
          @include mobile-header;
        }
      }
    }

    div {
      background-color: $primary-color;
    }
  }
}
