.container {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 40px;

  svg {
    min-height: 60px;
    min-width: 60px;
  }

  .result {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
}
