@use "../../styles/theme.scss" as *;

.card {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;

  .title {
    font-family: $primary-font;
    margin: 0;
  }
}
