@use "../../styles/theme.scss" as *;

.card {
  align-items: center;
  background-color: $secondary-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 20px;

  .title {
    font-family: $primary-font;
    margin: 0;
  }
}
