/* Estilos compartilhados entre as páginas de formulário Login e Register */

.card {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  padding: 48px;
  transition: all 0.5s;
  width: 480px;
}

.title {
  font-family: "Alatsi", sans-serif;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.button {
  margin-top: 16px;
}

.question {
  display: flex;
  gap: 5px;
  justify-content: center;
  text-align: center;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: #156bb7;
  text-decoration: underline;
}

@media screen and (max-width: 420px) {
  .card {
    padding: 24px;
  }

  .question {
    flex-direction: column;
  }
}
