// Paleta de cores da aplicação
$primary-color: #003f86;
$easy-color: #7bec7b;
$medium-color: #ffff00;
$hard-color: #ec7b7b;

// Fontes de texto da aplicação
$primary-font: "Alatsi";
$default-font: sans-serif;
