// Temas da aplicação

// Paleta de cores
$primary-color: #003f86;
$primary-light-color: #156bb7;
$secondary-darker-color: #c3c3c3;
$secondary-dark-color: #e0e0e0;
$secondary-color: #ffffff;
$tertiary-color: #212529;
$green-color: #7bec7b;
$yellow-color: #ffff00;
$red-color: #ec7b7b;

// Fontes de texto
$primary-font: "Alatsi";
$secondary-font: "Roboto";
$default-font: sans-serif;
