// Paleta de cores da aplicação
$primary-color: #003f86;
$primary-light-color: #156bb7;
$secondary-darker: #c3c3c3;
$secondary-dark: #e0e0e0;
$secondary: #ffffff;
$tertiary: #212529;
$green-color: #7bec7b;
$yellow-color: #ffff00;
$red-color: #ec7b7b;

// Fontes de texto da aplicação
$primary-font: "Alatsi";
$secondary-font: "Roboto";
$default-font: sans-serif;
