@use "../../styles/theme.scss" as *;

.link {
  color: $tertiary-color;
  display: flex;
  text-decoration: none;

  &:hover {
    color: $tertiary-color;
  }

  .card {
    background-color: $secondary-color;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    width: 200px;

    &:hover {
      transform: scale(1.2);
    }

    .title {
      font-family: $primary-font;
      font-size: 20px;
      margin: 0;
    }
  }
}
