@use "../../styles/mixins.scss" as *;

.card {
  @include content-card;

  cursor: pointer;
  transition: transform 0.2s;
  width: 200px;

  &:hover {
    transform: scale(1.2);
  }

  .title {
    font-size: 20px;
  }
}
